[2018-06-15 11:13] MaherKSantina opened #1 "Add Unit Test Code"
Add unit tests for scroll behavior

[2018-06-15 22:51] MaherKSantina opened #2 "Add a helper function to scroll to a specific item"

[2018-06-16 01:36] #1 closed

[2018-06-16 02:43] MaherKSantina opened #5 "Add support for vertical peeking implementation"

[2018-06-16 02:44] MaherKSantina opened #6 "Add support to add the implementation as an outlet in the storyboard"
Also adding initialization variables as inspectables

[2018-06-17 05:34] MaherKSantina opened #7 "Add support to scroll more than 1 item at a time"
If the items are small, the user might want to scroll more than one item at a time

[2018-06-22 04:57] MaherKSantina opened #8 "There's no way to subclass the Implementation to implement item selection"

[2018-06-22 09:05] #8 closed

[2018-06-25 12:31] #7 closed

[2018-06-25 21:25] MaherKSantina opened #12 "Add Support to show multiple cells at the same time"
Add `numberOfItemsToShow` parameter which specifies how many cells need to be shown at the same time

[2018-06-26 08:42] MaherKSantina commented on #2
Scrolling to a specific item is handled by the collection view not the delegate

[2018-06-26 08:42] #2 closed

[2018-06-26 08:44] MaherKSantina opened #13 "Add support to get the content offset of an item at a specific index"
This function will help users to scroll to a specific item programmatically.

[2018-06-26 10:21] #12 closed

[2018-06-26 10:21] #13 closed

[2018-06-27 10:59] #5 closed

[2018-06-28 08:35] MaherKSantina opened #16 "Add sliders to example to show the implementation's features"
- Slider for peek distance
- Slider for spacing
- Slider for maximum items to show
- Slider for maximum items to scroll
- Slider for scroll threshold

[2018-07-02 09:07] MaherKSantina opened #17 "App crashes if scroll threshold is 0"

[2018-07-03 08:36] #16 closed

[2018-07-03 08:36] #17 closed

[2018-07-03 08:37] MaherKSantina opened #19 "Support vertical/horizontal segmented control in example"
Add a segmented control in example for changing between vertical and horizontal collection view layouts

[2018-07-25 22:51] MaherKSantina opened #20 "Paging is not working properly on large cell spacing"
For iPhone 8, if spacing is greater than 50, going to the third cell and then going back to the second cell doesn't work

[2018-07-26 09:48] MaherKSantina opened #21 "Add function to get the index of an item based on a specific content offset"

[2018-07-30 09:07] #20 closed

[2018-07-30 22:36] #21 closed

[2018-08-23 15:29] deepak-sankey opened #23 "They required a higher minimum deployment target"
Got this error -> Specs satisfying the `MSPeekCollectionViewDelegateImplementation` dependency were found, but they required a higher minimum deployment target

[2018-09-06 23:35] MaherKSantina commented on #23
Thank you @deepak-sankey for sharing this issue. I'm sorry I haven't checked it earlier I didn't see the notification on Github. I'll check it out for you 👍

[2018-09-06 23:44] #23 closed

[2018-09-06 23:53] MaherKSantina commented on #23
@deepak-sankey the issue should be fixed. Please feel free to open this issue again if the problem persists 👍

[2018-09-25 04:34] HristiyanZahariev opened #25 "Active cell support"
I want to congratulate you for this lib, it's very cool. However, I think one key feature is missing and it is an active cell support. Is there a way to easily understand (from the controller) which cell is active?

[2018-09-25 05:13] MaherKSantina commented on #25
Thank you Hristiyan for raising this issue. I think this is a common case scenario that other developers might experience. So I'm going to do an update to add this functionality to the repository. However, there's a solution you can use for the time being before I update the pod:

1- You need to subclass the `MSPeekCollectionViewDelegateImplementation` to monitor when the user scrolls to a new cel

[2018-09-25 05:16] HristiyanZahariev commented on #25
Thank you very much :)

[2018-09-25 05:35] HristiyanZahariev commented on #25
I think I can do it on the weekend. If it's not too late I will create a pull request

[2018-09-25 05:36] #25 closed

[2018-10-18 22:18] MaherKSantina commented on #25
@HristiyanZahariev sorry for the late reply. I have updated the pod to include active cell support. You can check more information in the merged PR [here](https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation/pull/26). Please let me know if you have any more issues

[2018-11-22 11:24] helloniklas opened #27 "tvOS support would be great..."

[2018-11-22 11:53] helloniklas commented on #27
You're implementation is really nice. This is very common UI on Apple TV apps, so would be great to have tvOS support in the pod.

[2018-11-22 11:59] MaherKSantina commented on #27
100%! After you comment I remembered that tvOS application use this UI alot. I'll try to work on something on the weekend

[2018-12-24 15:32] JhonnyTawk opened #28 "How to get back to the first item when I am on the last one?"

[2018-12-24 16:11] MaherKSantina commented on #28
Thanks for raising this issue @JhonnyTawk. Currently there's no built in function that scrolls programmatically to a specific index. However, you can still achieve this easily.
You can use the function `setContentOffset` on the collection view as such:
[code]
Or alternatively, if you want to scroll to a specific item that is not the first one, you can use the function `scrollView(_:contentOffsetFo

[2018-12-24 16:31] JhonnyTawk commented on #28
Thanks @MaherKSantina
I still have one question about `MSPeekImplementationDelegate` the implementation is correct I already double checked everything I am not able to access
`func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex: Int)`
on scroll.

[code]

[2018-12-24 17:15] JhonnyTawk opened #29 "MSPeekImplementationDelegate returning nil"
I want to get the active index i implemented MSPeekImplementationDelegate the implementation is correct I already double checked everything The
`func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex: Int)` is not being called.
This is my implemetation:

[code]

[2018-12-24 17:20] #28 closed

[2018-12-24 23:57] MaherKSantina commented on #29
Hello @JhonnyTawk, thank you for raising this issue. In the code snippet you provided you're initializing the `peekImplementation` variable twice (On the first line and on the 4th line). So after you're initializing it the second time you're not setting the delegate so that's why it's nil

[2018-12-25 13:18] JhonnyTawk commented on #29
even like this didn't work :
[code]

[2018-12-25 17:12] JhonnyTawk commented on #29
Thank you 👍

[2018-12-25 17:12] #29 closed

[2019-01-10 10:32] JhonnyTawk opened #30 "Can I use UICollectionViewDelegate & MSPeekImplementationDelegate together?"
I am not able to use UICollectionViewDelegate when I am using MSPeekImplementationDelegate

[2019-01-10 10:47] MaherKSantina commented on #30
Hello Jhonny,
Thank you for raising this issue.
So the `MSPeekCollectionViewDelegateImplementation` is actually an implementation for the `UICollectionViewDelegate`. I'm understanding you want to use the implementation but also still implement the delegate methods found in the `UICollectionViewDelegate` is that correct?
If this is the case, you can actually do that by subclassing the `MSPeekCollec

[2019-01-10 11:13] JhonnyTawk commented on #30
I am getting this issue
<img width="1330" alt="screen shot 2019-01-10 at 1 12 15 pm" src="https://user-images.githubusercontent.com/38781782/50965005-7121a580-14d9-11e9-968d-60ffdd721c97.png">

[2019-01-10 11:19] JhonnyTawk commented on #30
I am only inheriting UICollectionViewDataSource and now MSPeekCollectionViewDelegateImplementation

[2019-01-10 11:43] JhonnyTawk commented on #30
Thank you!
It worked fine after that implementation. The main issue was I want to implement willDisplayCell but when I inherited UICollectionViewDelegate

[2019-01-10 11:46] MaherKSantina commented on #30
Yes you're right it wouldn't work this way. I'm thinking of a way to make it easier to do that. Will update the repo if I find anything 👍

[2019-01-10 21:26] MaherKSantina opened #31 "Create a delegate proxy to route UICollectionViewDelegate events"

[2019-01-30 09:28] iloo123 opened #32 "Listen for index change is not working"
Listen for index change. Ive done exactly as on the docs. But current index Index change part doesn't work

[2019-01-30 10:10] MaherKSantina commented on #32
Hello @iloo123, I'm sorry you're experiencing this problem. Please provide me with code snippets of what you did so I can investigate the issue with you.
Also, have you tried to clone the example and run it? The view controller in the example implements `func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex: Int)` and prints th

[2019-02-07 14:24] cihangulx opened #35 "remove left peek width"
how can i set only left peek width 0, change to cell origin not working.

[2019-02-07 23:46] MaherKSantina commented on #35
Thank you @cihangulx for opening this issue. Having a variable peeking width for different cells is not currently supported. Honestly i don't have plans to support this because it will make the implementation a bit complicated. If you have any ideas/examples on how to update the current implementation to support that I'm happy to look at them!

[2019-02-13 09:11] thejeraldo opened #36 "Selection not working."
`@objc optional func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didSelectItemAt indexPath: IndexPath)` doesn't work and not even appears on the autocomplete in Xcode.

Checking  MSPeekCollectionViewDelegateImplementation from the Pod project it seems it is not in the MSPeekImplementationDelegate. Only the following is shown:
[code]

`func peekImplementatio

[2019-02-13 09:15] MaherKSantina commented on #36
Thanks @thejeraldo for raising this issue. Are you sure that you are using the latest version of this pod? This function was introduced in version 1.1.0. Waiting for your reply

[2019-02-13 09:23] thejeraldo commented on #36
Yes I am. I believe it was not included in 1.1.0 as it is there in 1.0.0 after checking both tags.

[2019-02-13 09:30] thejeraldo commented on #36
Sorry. It is there in 1.1.0, I just installed MSPeekCollectionViewDelegateImplementation this week. Not sure why it wasn't on 1.1.0 and had to specify the tag on the Podfile.

Thanks by the way for this amazing library. Cheers!

[2019-02-13 09:30] #36 closed

[2019-02-13 09:33] MaherKSantina commented on #36
Ohh maybe the pods on your machine are not up to date with the Cocoapods repo because the 1.1.0 version was not long ago.

Haha no worries mate I'm glad your issue is fixed. Let me know if you experience any problems 👍

[2019-03-04 12:02] gcox opened #37 "Support safe area insets where appropriate"
Currently, the safe area is ignored. If a collection view is rendered on an iPhone X in landscape, the cells under run the safe area. A workaround is to add the left or right safe area inset to the `cellPeekWidth` and reconfigure the delegate implementation when the view transitions sizes. Easy enough, but feels like it should be handled automatically or as another configuration argument.

[2019-03-04 12:25] gcox opened #38 "Support for more than one item in the cross-axis"
Currently, this lib forces the cross axis size of a cell to match that of the collection view. The App Store has another type of horizontally peeking collection view where multiple cells are displayed vertically in each page. The lib could allow specifying the number of cross-axis items to show, then use that value to calculate the appropriate item size in the `collectionView:layout:sizeForItemAt:

[2019-03-04 12:50] MaherKSantina commented on #37
Thank you @gcox for raising this issue! I just checked it on iPhone X and you're right it's not being positioned properly, I'll look into it as soon as possible.

[2019-03-04 13:04] MaherKSantina commented on #38
Thanks @gcox for raising this issue! That's a good idea to implement. However, it's a bit challenging implement as we need to take into account inter-item/cell spacing and size for items. Also, calculation of current index and scrolling to items at specific indices will change.
I'd consider this as nice to have since you can do a similar functionality by implementing a collection view cell that ha

[2019-03-04 13:06] MaherKSantina commented on #32
Hello @iloo123, this issue has been open for over a month but I haven't heard back from you yet 😢 I'm afraid I'd have to close this issue for now. Please feel free to open it again if you're still experiencing the issue
Cheers

[2019-03-04 13:06] #32 closed

[2019-03-04 17:24] gcox commented on #38
@MaherKSantina Here's the basic implementation details. It is not thoroughly tested and I'm sure I'm missing some edge cases, just want to see if you had any other thoughts on this. I can submit a PR later this week if you don't see any glaring issues here.

[code]

That code depends on a couple of new extension methods on `UICollectionViewScrollDirection` just to return the 'crossLength', 'crossV

[2019-03-05 06:45] MaherKSantina commented on #38
Ohh @gcox thank you for the code snippet! I'll definitely take a look at it in the weekend

[2019-03-27 08:18] NEXTKING opened #40 "iOS 9.3 support"
Hello, thanks for this nice implementation, but why did you drop support of iOS 9.3 starting from v. 1.2.0? It works perfectly on iOS 9 and no need for additional legacy code.

[2019-03-27 08:21] MaherKSantina commented on #40
Hello @NEXTKING ! Thanks for raising the issue! I didn't know that some developers are still on iOS 9.3 as its market share is very low (2.9%). But you're right it's working anyways on that version so I shouldn't drop it. I'll make a release to restore that support! Sorry for the inconvenience!

[2019-03-27 08:29] NEXTKING commented on #40
I agree that the share is non-significant and personally I would drop it myself, but there are still a lot of people using iPod 5th generation (I bet especially for enterprise apps) which can't be upgraded more than 9.3. Thank you!

[2019-03-27 08:31] MaherKSantina commented on #40
@NEXTKING version 1.2.1 is live and supports iOS 9! 🎉 Thanks for raising this issue. Feel free to close it when you test the new version and confirm it's working! 👍

[2019-03-27 08:34] MaherKSantina commented on #40
Ohh that's a good note I'll keep that in mind!

[2019-03-27 08:35] MaherKSantina commented on #37
Hello @gcox ! Apologies it's been a while since I got back to you. I've been looking into this and it feels that this problem is related to any flow layout not just this implementation. Also, this implementation doesn't know the hierarchy outside its collection view, and I think it's better this way. Otherwise, this implementation would be doing too much and it defies the separation of concerns co

[2019-03-27 08:35] #31 closed

[2019-03-27 08:37] NEXTKING commented on #40
Everything's fine now, thank you again!

[2019-03-27 08:37] #40 closed

[2019-03-27 08:38] MaherKSantina commented on #40
No worries mate 👍 Thank you for your feedback!

[2019-04-01 14:40] Bernix01 opened #41 "Upgade to swift 4 (Xcode 10.2)"
As Xcode 10.2, Swift 3.x is no longer supported for building or migrating.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/5255494/55335939-b4990980-5461-11e9-838f-bbf89c981060.png">

[2019-04-01 15:26] Bernix01 commented on #41
My bad, was using outdated version, just had to update.

[2019-04-01 15:26] #41 closed

[2019-04-01 21:45] MaherKSantina commented on #41
No worries @Bernix01! Let me know if you experience any issues :+1:

[2019-04-19 10:15] HassanTaleb90 opened #42 "Issue when switching orientation"
Hey, there's an issue when switching orientation.
When I tried to select programmatically a cell, the selected cell is scrolled weirdly
Here is my codes:
`var selectedItemIndex = 0`
[code]
    func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex: Int) {
        print("Changed active index to \(activeIndex)")
        selectedIt

[2019-04-19 10:19] MaherKSantina commented on #42
Thanks @HassanTaleb90 for raising this issue! Are you using the collection view inside another view or cell or its just in the view controller?

[2019-04-19 10:21] HassanTaleb90 commented on #42
Welcome @MaherKSantina . I used it in a table view cell

[2019-04-19 10:26] MaherKSantina commented on #42
Ohh okay nice! Thanks for sharing your solution with me! Do you think you can make a pull request on the documentation (Readme.md) to add this information so that others don't experience the same problem?

[2019-04-23 11:20] xtnguyen opened #43 "Issue when implementing didSelectItem protocol"
I've implemented my collection views this way :

[code]

and when calling   func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didSelectItemAt indexPath: IndexPath)
it seems like the function doesn't detect any of the collection vies that are implemented, swift doesn't seem to go through the function.. .

If you guys have any tips i'll be greatufull :)

[2019-04-23 11:33] MaherKSantina commented on #43
Thanks @xtnguyen for raising this issue! Probably the problem is that you haven't set the delegate to the peek implementation. Also, you need to only initialize the delegate implementation once (In your code you're initializing the `delegate` it 4 time and setting a different property. What this code will do is that it will only set the `cellPeekWidth` and **won't** set the number of items and the

[2019-04-23 12:16] xtnguyen commented on #43
Thanks a lot for the solution @MaherKSantina, it worked out for the function didChangeActiveIndex that is now recognised however the disSelectItemAt still doesn't work, do you have any idea of the missing implementation ?

[2019-04-23 13:28] MaherKSantina commented on #43
Haha no worries mate @xtnguyen !
For the selection call, it should work if the other one worked because they're part of the same delegate. This delegate call will only be triggered when you're tapping on a cell after the scrolling has stopped. If you click on a cell when the scroll is still moving it will not capture the selection. Also make sure that you have user interaction enabled (If you've p

[2019-04-23 13:30] xtnguyen commented on #43
Interestingly it doesn't seem to work and i have user interaction enabled on both, it's pretty weird.
And in your swift file i don't see any implementation of the didSelectProtocol on did ChangeActiveIndex.

`extension MapViewController: MSPeekImplementationDelegate {

    func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex:

[2019-04-23 13:45] MaherKSantina commented on #43
Hmmm that's weird.. I'm trying it in the example project and it's working fine. Do you have a specific hierarchy set up? Like having the collection view inside a scroll view or table view or something? Maybe the tap is not being registered? (I'm not sure how it might affect it but I'm out of options 😢 )

[2019-04-23 13:56] MaherKSantina commented on #43
Ohh and maybe if you could try on different simulator versions/iOS versions? And probably on a real device? I'm sorry mate I know all of this might be useless but It's the only stuff I can think of 😢

[2019-04-23 14:00] xtnguyen commented on #43
The collectionView is inside on a classic view controller that has googlemaps in it so I don't think it's a hierarchy problem... And i've only been testing on real devices so i don't really get where the problem is coming from :(
I've tried giving the collectionView a normal delegate and the click works fine that's what I don't get..
No worries mate, i'll try to figure it out and if I find a solut

[2019-04-23 14:02] MaherKSantina commented on #43
Ohh hmmm...Have you tried to add breakpoints inside the pod delegate calls to see if they're actually being called?

[2019-04-23 14:05] xtnguyen commented on #43
In my delegate the only public protocol that is available is the following :  `public protocol MSPeekImplementationDelegate: AnyObject {
    func peekImplementation(_ peekImplementation: MSPeekCollectionViewDelegateImplementation, didChangeActiveIndexTo activeIndex: Int)

}` So maybe the issue is there ?

[2019-04-23 14:18] MaherKSantina commented on #43
Ohhhh now I understand what you were asking me before! Which version of the MSPeekCollectionViewDelegateImplementation are you on? I think I've added the `didSelect` delegate function not long ago! Make sure you are on version 1.2.1 and try to explicitly specify the pod version in the Podfile
[code]
And then execute
[code]

[2019-04-23 14:23] xtnguyen commented on #43
That explains it all my version was 0.13.0! Thanks again mate!

[2019-04-23 14:44] MaherKSantina commented on #43
hahaha no worries glad I could be of help! Feel free to close the issue if everything has worked out for you! 👍👍

[2019-04-23 14:45] #43 closed

[2019-05-16 13:02] HePingLaoSan opened #44 "Support Dynamic Width?"
Great Thanks to your repo , do you have plan to support dynamic cell width please? thanks again

[2019-05-16 13:52] MaherKSantina commented on #44
Thank you so much @HePingLaoSan!
So you mean that you want to specify a specific width for each cell and let the peeking fill the remaining space? That would be something interesting to have, although I don't have 100% vision of how it can be achieved. But it's definitely something nice to have and worth considering!
It might take me a while to implement this because I'm a bit busy at work. In the

[2019-07-12 20:30] TheBigBiggerRice opened #47 "Scrolling does not work when collection view is on top of a scroll view"
This repo helped me immensely! There is one issue I am not sure of is how to get the scrolling or delegate methods to work when my collection view is a subview of a scroll view. It seems like the collection view stopped working completely  when on a scroll view.

[2019-07-12 20:52] #47 closed

[2019-07-13 01:53] MaherKSantina commented on #47
Hello @TheBigBiggerRice ! I'm really thrilled that this repo helped you out! I'm assuming that you were able to solve the issue by yourself? Let me know if you experience any more issues 👍

[2019-09-25 06:54] whereiswhere opened #49 "Does it support multiple sections?"
Works fine with one section in collection view, but I don't know if it could with multiple sections? I find that it has larger space between sections than cells. and could be problem with scrolling.

[2019-09-25 07:56] MaherKSantina commented on #49
Thanks @whereiswhere for raising this issue! I'm interested to know how would you expect the collection view to behave if it has sections? Should the space between sections be the same as regular cells? If that's the case then what is the added value to having sections?

[2019-09-25 08:59] whereiswhere commented on #49
Yeah, I wish space between sections be the same as regular cells.

my collection view has three types of cells, several cells with videos, one cell with a label, several cells with images, and this collection view resides in a table view cell.

I was using this pod with one section and it works fine. It just recently I found out that it's a bit lag when table view scroll to the position of showing

[2019-09-25 09:51] MaherKSantina commented on #49
@whereiswhere appreciate the detailed explanation! Honestly supporting multiple sections is not part of the scope of this pod. That being said, I'll definitely take a look and see how we can support different sections. Hopefully, it might be like a 1 line change that will help you with your issue and enhance the pod!
I'll investigate and get back to you

[2019-09-26 22:02] MaherKSantina commented on #49
Hey @whereiswhere, I did some investigation concerning your issue and it looks like there's no easy way to do it. I'd have to restructure some things to make it happen or even create a custom collection view layout. So the problem is that I'm setting the left and right `sectionInsets` to make the cell be positioned in the middle. But since we have multiple sections, those insets are being added tw

[2019-09-26 22:06] MaherKSantina commented on #49
So the easier/dirtier way to fix this is to ask the delegate for the number of sections and number of items per section to fix the section insets which I don't like to do because then the delegate would have information about the model. Anyways I'll figure something out. In the meantime feel free to try something out if you have the time! 👍

[2019-09-29 15:10] whereiswhere commented on #49
@MaherKSantina Thanks a lot! Very appreciated that, the problem is a little bit annoying, but it's very subtle so it doesn't bother when normal use.

[2019-09-29 23:23] MaherKSantina commented on #49
@whereiswhere no worries mate! yeah I can understand the annoyance when the experience is not 100% smooth. I also need to move to a custom collection view layout anyways so I'll try to do it eventually in my free time.
Have a great day!

[2019-11-06 08:55] Kendokai opened #50 "Clip last item"
![Simulator Screen Shot - iPhone 11 - 2019-11-06 at 15 51 32](https://user-images.githubusercontent.com/8243358/68283099-85a8dd00-00ad-11ea-9544-bc057f068865.png)

I've followed instruction but when render, I got the last item clipped.

[2019-11-13 01:24] MaherKSantina commented on #50
Thanks @Kendokai for raising this issue and for your interest in this library! I'm really sorry it took me some time to reply back I got caught up in things. Can you please share with me some extra information such as:
- Device
- OS
- Number of items in the collection
- Is the collection view in a table view?

[2019-11-19 06:42] saikishoreagrapalem opened #51 "First item in the cell auto scrolling when i set the collection view leading or X by setting -60 to avoid cell peek width."
When i set the collection view x axis as -60 to avoid cell peek width and first item is auto scrolling after swiping the collection view. How to avoid this issue?

[2019-11-21 00:50] MaherKSantina commented on #51
Hey @saikishoreagrapalem! Thanks for raising up this issue!
I just want to know how exactly are you setting the x-axis? Can you please show me a small piece of code where you're doing that?

Cheers

[2019-11-23 15:32] imzark opened #53 "Consider velocity while EndDragging."
Act more like isPagingEnabled.

 If the velocity of EndDragging is zero, use "if scrollDistance more than half the page width" to decide destinationIndex, instead of "scrollThreshold". #52 #

[2019-12-04 17:48] mpmartimbianco commented on #50
Hi, I'm enjoying this library too and facing this same issue, it occurs at my iphone 6s as well as at all simulator in my machine.

I'm using ios 13 on device, and developing for 11
I have 4 items, but more items I have bigger this wrong offset
This problem happens with the collection on the root view as well as inside a scrollview on my case

[2019-12-05 07:22] MaherKSantina commented on #50
Hello @mpmartimbianco! Thank you so much for your interest in this library and thank you for confirming the details of the issue! I can say now it's time to re-implement the layout using a custom collection view layout instead of trying to use the default one! Clearly it's causing some issues! I'm currently working on a new version which implements a peeking layout and theoretically it should be m

[2019-12-07 17:39] MaherKSantina commented on #51
Hello @saikishoreagrapalem , I just wanted to let you know that I completely re-developed the library, if you want you can try with the new logic and see if it's working as expected. In the meantime I have to close this issue to avoid issues piling up. But feel free to open a new issue if you're facing other problems!
Cheers

[2019-12-07 17:39] #51 closed

[2019-12-07 17:41] MaherKSantina commented on #50
Hello @mpmartimbianco and @Kendokai ! I wanted to let you know that I re-developed the library using a custom collection view layout and a paging component! I think this will solve your issues related to the clipping and will provide a better peeking/paging experience overall! There's a bit of change that you guys need to do in the code to support the new behavior but it shouldn't be that much. He

[2019-12-07 17:43] MaherKSantina commented on #49
Hello @whereiswhere ! I just wanted to let you know that I completely re-developed the library with a custom collection view layout! I'm not 100% sure if the new implementation will fix your issue but do you mind taking a look and trying it for me?

Much appreciated buddy ❤️

[2019-12-07 17:44] #35 closed

[2019-12-07 17:44] #6 closed

[2019-12-12 15:24] mpmartimbianco commented on #50
hello @MaherKSantina thank you for the reply and support, I'm using now the 3.0 version, it is much better because it clears my view controller. But to be honest I still have this issue. Just downloading the MSPeekCollectionViewDelegateImplementation-3.0.0.zip and testing on it, you probably will see a issue when set a high value to cell peek width (cell spacing is lower then cell peek width)

Can

[2019-12-13 03:01] MaherKSantina commented on #50
Hello @mpmartimbianco , I'm really sorry you're still experiencing some issues. Can you please show me the piece of code where you are implementing the peeking?

[2019-12-13 05:33] whereiswhere commented on #49
Hi! Thanks so much for still trying to resolve my problem even your library works pretty great in my app if not perfect.

So I was using the updated library yesterday, and it seems the problem I've met is still there, and there's a new problem...

It's that happed with the `collectionView.scrollToItem(at indexPath: IndexPath, at scrollPosition: UICollectionView.ScrollPosition, animated: Bool)` cod

[2019-12-13 06:18] MaherKSantina commented on #49
Hello @whereiswhere, thank you so much for the effort in writing this detailed explanation!

As for the scrolling issue, you're right it's not working properly, but it seems that it's expected since the items have different frames because of the custom layout. (https://stackoverflow.com/questions/53770783/how-to-use-scrolltoitemat-when-using-a-custom-collectionview-layout-to-alter)

So I created n

[2019-12-13 06:25] MaherKSantina commented on #53
Hello @imzark , thanks you for raising this issue! I completely re-developed the library using a custom collection view layout and I tried my best to implement your logic with the velocity/scroll threshold. Please take a look and let me know if it behaves as expected. If that's the case feel free to close this issue 👍

[2019-12-13 06:26] MaherKSantina commented on #44
Hello @HePingLaoSan , I'm really sorry but I have to close this issue for now as it's stale. Feel free to open another issue when you have more information!

Thanks for the contribution and interest in this repo! 👍

[2019-12-13 06:26] #44 closed

[2019-12-13 09:33] Sk8er22 commented on #53
@MaherKSantina Good morning Maher! thanks for your library it's amazing, but in this new version I'm having the following issue http://www.giphy.com/gifs/j45AZB2dGj3FGJvFJH
Any suggestion? ty!

[2019-12-13 09:43] MaherKSantina commented on #53
Hello @Sk8er22 ! Thank you for your feedback really appreciated! And thank you for raising this issue.

I'm not able to see the gif, I'm getting this error:

<img width="545" alt="Screen Shot 2019-12-13 at 8 42 46 PM" src="https://user-images.githubusercontent.com/24646608/70790424-26936200-1de9-11ea-8a53-97d899118617.png">

[2019-12-13 09:49] Sk8er22 commented on #53
![Dec-13-2019 10-48-58](https://user-images.githubusercontent.com/11601713/70790910-49485b00-1d96-11ea-99f5-a9aa1d0cd7e6.gif)
Done!

[2019-12-13 09:57] MaherKSantina commented on #53
Ohh that is very bad... I'm sorry you're experiencing this, so let's see how we can fix it. I can't investigate this from the gif as I don't know what's causing this. Are you able to copy the content of the collection view in the example project and see if the issue is still there? This way we can isolate the issue and work on it

[2019-12-13 10:01] Sk8er22 commented on #53
Here is the gif:
![final gif](https://user-images.githubusercontent.com/11601713/70791501-83662c80-1d97-11ea-8d01-8702260937a0.gif)

And the vc:

[code]

I'm doing somthing wrong?

Thanks for your fast answer  👍

[2019-12-13 10:07] MaherKSantina commented on #53
Hello @Sk8er22 , it looks like you're configuring the behavior properly. I can't see any issue from the code you wrote. I'm assuming it's a UI issue where the each cell frame is not computed properly. Are you using a library for the cell items UI? I noticed that when you long press one of them it's becoming smaller, or is it just the selection style?

[2019-12-13 10:09] Sk8er22 commented on #53
Just right now I was trying it commenting the highlighting behavior... but the error persists...

[code]

[2019-12-13 10:11] MaherKSantina commented on #53
Hmm... so the highlighting is not the issue, and you're not using an external library. Can I bother you to import the collection view code and item UI to the example app and test there? It would be very easy for me to debug the issue if it's in the example project. You can fork the repo and push the UI code and I can pull your branch and investigate it

[2019-12-13 10:27] MaherKSantina commented on #53
@Sk8er22 thank you soo much for sponsoring me!! 🎉 🎉 🎉 🎉  It really motivates me to pursue my vision and help others with their UI challenges! <3

[2019-12-13 10:58] Sk8er22 commented on #53
The pod with the Large display card is this one...
https://github.com/levin-riegner/LRDesignSystem
ios 11 on podfile and with the above code my examples should it work

[2019-12-13 11:06] MaherKSantina commented on #53
Ohh okayy I'll have a try and will let you know how it goes

[2019-12-13 11:27] MaherKSantina commented on #53
@Sk8er22 I was able to reproduce the issue in the example project! I'll try to investigate and work on a fix now

[2019-12-13 11:41] MaherKSantina commented on #53
@Sk8er22 I've released a [new version](https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation/releases/tag/3.0.2) of the pod that fixes this issue! Thank you so much for helping me investigate this! I also found another issue related to this but I wanted to push an update for you so you don't have to wait for the other fix. I'll create another ticket for the other issue

Have

[2019-12-13 11:43] MaherKSantina opened #55 "Scrolling with 0 velocity will not land on the correct page"
If we drag a bit backwards to the previous page and remove our finger, the paging will always go to the previous page. The expected behavior should be to stay on the current page if the threshold is low

Same goes to when scrolling to the next page with no velocity, no matter how much we scroll, we'll always end up on the current page. The expected behavior is to go to the next page if the scroll

[2019-12-13 11:44] Sk8er22 commented on #53
Thank you so much! :)

[2019-12-13 12:57] whereiswhere commented on #49
Hi, @MaherKSantina, Thanks for the quick reply!

 I think it's because of custom layout cause I didn't met this issue from the 2.0 version of the library. And I tried this `behavior.scrollToItem(at: 1, animated: true)`, but sadly, it's seems still doesn't work. 🤔

I thought maybe it's because my app's configuration of CollectionViewCell is uncommon, so I added a button to the example code to test

[2019-12-15 04:21] MaherKSantina commented on #49
Hello @whereiswhere , I'm sorry you're experiencing this issue, I'll investigate it now and see how it goes

[2019-12-16 09:40] MaherKSantina commented on #50
Hello @mpmartimbianco , I was able to reproduce this issue. I will work on a fix for it. Thanks for spotting it!

[2019-12-16 12:11] MaherKSantina commented on #53
Hello @imzark , I'm going to close this issue as there has been another thread going on for another issue, but feel free to open a new issue if you noticed that it's not working as intended! Thank you very much for raising this issue and contributing <3

[2019-12-16 12:11] #53 closed

[2019-12-16 12:13] MaherKSantina commented on #50
@mpmartimbianco thank you for raising this issue! I was able to issue a fix for your problem and it's now in v 3.0.3 from the library.
Feel free to re-open this issue if the problem is still there.

Have a great day!

[2019-12-16 12:13] #50 closed

[2019-12-16 12:15] MaherKSantina commented on #49
Hello @whereiswhere , there was a small bug in the paging behavior which I fixed in the new version (3.0.3), I'll paste below a video of how it's behaving:
![scroll to item](https://user-images.githubusercontent.com/24646608/70906131-cf47f880-2059-11ea-9680-9cc80690b184.gif)
Please give it a try and let me know if you're still experiencing any issues

Have a great day!

[2019-12-16 13:21] mpmartimbianco commented on #50
@MaherKSantina hello, sorry for the late reply, I was away from home this days. Thank ypu again, I will test it new version

[2019-12-17 01:16] MaherKSantina commented on #50
No problem @mpmartimbianco! Hope you had a great time! Sure thing test it and let me know if you jump into any issues 👍

[2020-01-10 09:32] Sk8er22 commented on #38
this is actually supported?

[2020-01-10 10:15] MaherKSantina commented on #38
@Sk8er22 sadly it's not implemented yet. I was focusing on other features that I thought were more important. I deprioritized this one because you can achieve the same behavior by creating a collection view cell that has 3 items. I'm thinking about the complexity this feature adds to the library and it feels like there are a lot of things to take into consideration so I'm still hesitant about it.

[2020-01-10 10:30] mumty13 opened #56 "Add support to animate peeking items while scrolling"
It would be really nice if the peeking items have some animations (maybe like growing/shrinking) while we scroll.

[2020-01-10 10:34] MaherKSantina commented on #56
Thanks alot @mumty13 for raising this issue! It's actually a good idea, I've probably seen it somewhere.
Maybe this behavior can have it's own repository also as it's not directly related to peeking. I'll think about it and see what I can do about it

Also if you have any ideas concerning that it would be appreciated!

Have a great day!

[2020-01-10 14:12] Sk8er22 commented on #38
I did it doing a custom big cell that contains all the possible stacks. Thanks anyway!

[2020-01-10 15:39] MaherKSantina commented on #38
@Sk8er22 sounds great! I'll add a help-wanted tag in the meantime

Have a great day!

[2020-01-13 16:15] whereiswhere commented on #49
Hi, I'm so sorry for the late reply! really really busy recently.

The new version works almost perfect on my app right now, the lag of scrolling as I mentions is seems gone, and I found out  that it's not your library's problem, the cause is in other part of my code, but don't know why I resolve it too by use multi-sections before .

By the way my app is on App Store and it's free right now, you

[2020-01-13 21:18] MaherKSantina commented on #49
Hello @whereiswhere!

No worries mate all good! Busy is good!

It's great to hear that your issue is fixed!

I've checked out your app, it's looking great! Neat and modern design! And it was great seeing my library in action! It's nice how you added images, videos and text in it

Don't mention it you're welcome! Thanks for having interest and contributing to this repository!

BTW, I had this weird

[2020-01-13 22:11] TimGrell commented on #55
There is, as a result, another bug: If we try to scroll to the next item and then click on the item while scrolling, it returns us to the previous item.

![Kapture 2020-01-14 at 4 50 21](https://user-images.githubusercontent.com/19363752/72295062-64ee9c00-3689-11ea-9b75-c4a99f957dae.gif)

I fixed this by changing `MSCollectionViewPaging.collectionViewWillEndDragging` horizontal case:
[code]

It's

[2020-01-14 05:05] MaherKSantina commented on #55
Thanks @TimGrell so much for raising this bug and spending time to find a solution!
I'll take a look at this after work and see how we can fix this

Cheers!

[2020-01-14 10:37] MaherKSantina commented on #55
Again @TimGrell thanks for the solution! This looks like it fixes some of the edge cases but I just realized that I don't use scroll threshold at all 😆 I'm using a velocity threshold only (When you scroll faster than the threshold velocity, it moves to another cell). I'm going to make an update to introduce the scroll threshold and hopefully it will fix this issue

[2020-01-14 22:04] TimGrell commented on #55
It would be nice. Thank you for this library. 👍

[2020-01-16 06:28] whereiswhere commented on #49
@MaherKSantina  Thanks for noticing that! it's maybe a bug, I think nobody's gonna spend 5 dollars to buy a app for tracking movies...

Anyway you can see I don't add the licenses of the libraries (including yours) to the app yet, kind of busy is the excuse, I'll add it the next update.

[2020-01-16 06:37] MaherKSantina commented on #49
@whereiswhere yeah people just like to go with the free app, and it looks like freemium is the trend.

Haha no worries! This library is open source and is meant to help developers build nice features!

Have a great day!

[2020-01-30 22:51] Errortype520 commented on #55
Are there any updates? I tried the proposed solution which fixed the snap back, but made it so slowly pulling the collection and releasing snaps back to whatever was current before the scroll.

I made the following change instead:

[code]

This seems to fix both issues, but introduces a new issue where a short fast drag from right to left snaps the collection to the right.

Thank you for the libra

[2020-01-31 06:49] MaherKSantina commented on #55
Thank you so much @Errortype520 for spending time and raising this issue! I also appreciate you supplying a potential solution for this! <3

As for the solution, I'm not sure if rounding is a long term solution for this. It seems like it's just a patch and doing something like this might introduce other edge cases, and I can see that you're aware of that. That also applies to the velocity change

[2020-01-31 20:32] Errortype520 commented on #55
@MaherKSantina I added rounding because it seemed to prefer the previous cell position even if next cell was closer to center when dragging stopped.

Looking at the ``` func indexForItemAtPoint(point: CGPoint) -> Int``` function more, it looks like it takes the (item size + spacing) and the offset to find the index.

What about the initial peek?

It looks like index is calculated off of the left e

[2020-02-01 07:03] MaherKSantina commented on #55
Thanks @Errortype520 for your comment! I'm sorry it takes me time to reply to you because we're in different timezones

The `indexForItemAtPoint` function is just a converter from an offset to an index. It basically will behave the same way even if we use the center to get the index. Suppose we have a width of 100 and no peeking, here's now it does it now:
0 offset -> 0 index
100 offset -> 1 index

[2020-02-01 07:04] MaherKSantina commented on #55
As for the rounding fix, I was wonder what would happen if we got a whole number after doing the equation? Wouldn't the value be the same and we end up with the wrong cell?

[2020-02-01 07:39] MaherKSantina commented on #55
@Errortype520 , I've created a new branch to work on the fix (fix-scroll-issue). I've added some tests which are failing that we need to make them pass. If you have some free time feel free to try some things to make the tests pass. I'll also do the same thing and hopefully this issue will be gone forever!

[2020-02-05 11:47] #55 closed

[2020-02-05 11:50] MaherKSantina commented on #55
@Errortype520 you're a genius! After digging into it I found out that you were right about the rounding for the index. It makes more sense because as you said it was preferring the left cell instead of getting the nearest. I've just merged a PR that fixes the issue https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation/pull/57 and I'll create a new version of the library that

[2020-03-03 21:17] Badi3 opened #58 "Where is MSPeekImplementationDelegate now?"
Is MSPeekImplementationDelegate deprecated in the latest versions?
If so, how to get the current active index?

Thanks.

[2020-03-12 08:46] GaneshMyNewCar opened #59 "Add SPM Support"

[2020-03-21 00:10] palozinski opened #60 "Alignment horizontal scroll collection view"
Hey,

any idea hot to align horizontal collection view items to left when it is first item then after that could work normally with centered item. Like AppStore product carousel ...

[2020-04-06 19:24] ashokt opened #61 "Is it possible to change the view content of center one?"

[2020-04-06 19:26] ashokt commented on #61
I have map view and collection which is horizontal, when i scroll the collection view center item should be change the view and as well as update the mapview with center item lat and long.

[2020-04-21 09:27] Sk8er22 opened #62 "RxCollectionView"
Good morning Maher! again thanks for your work.

I'm having a doubt, I'm using RxCollectionView and in that case the dataSource it's
fileprivate func dataSource() -> RxCollectionViewSectionedReloadDataSource<HomePageSection>
and MSPeek collectionView it's only showing one cell in all cases...

Do you have any idea, what can I do?

Thanks!

[2020-04-23 04:30] magicspring commented on #58
I use this way to find the current focus index for now. just add this code in scrollViewWillEndDragging

[code]

[2020-04-26 12:22] Badi3 commented on #58
Thanks @magicspring

I've already fixed it using a similar approach 👌

[2020-04-26 12:22] #58 closed

[2020-05-06 09:59] MaherKSantina commented on #59
Hello @GaneshMyNewCar ! So sorry for the 2 months late reply, I've been very busy at work and you know the whole COVID situation. I've just made an update to the library (3.1.0) to support SPM! Please check it out.
I'll close this ticket for now. Feel free to re-open it if you find any issues

Have a great day and stay safe!

[2020-05-06 09:59] #59 closed

[2020-05-06 10:02] MaherKSantina commented on #60
Hey @palozinski ! So sorry for the late reply 😢 I've been soo busy at work and life.
I was looking into the AppStore but couldn't find the behavior you've mentioned. Is it okay if you show me a video for the behavior?

[2020-05-06 10:05] MaherKSantina commented on #62
Hello @Sk8er22 ! So sorry for the late reply, I've been very busy at work. Do you happen to have a code snippet I can start testing with? I don't usually use `RxCollectionViewSectionedReloadDataSource` and would like to see how you're trying to implement it with this library.
Thanks!

[2020-05-07 04:47] GaneshMyNewCar commented on #59
Hi @MaherKSantina, Thanks for the Update. It's really appreciated and helpful.
Stay Home and Stay Safe.

[2020-05-07 23:39] johnCbogil opened #63 "sizeForItem delegate function is not called when peek behavior is configured"
Hi there,

I noticed that when I have MSPeekCollectionViewDelegateImplementation implemented, that my collectionView's `sizeForItem` delegate function is not called. I'm not sure why though. Is this expected or perhaps I have a bug in my code? `sizeForItem` is called as expected when the peeking behavior is not configured.

I need to be able to configure my item's size while also implementing peek

[2020-05-07 23:52] MaherKSantina commented on #63
Hello @johnCbogil ! Thanks for contributing to this repository by opening this issue!
After the last major update, this library started using a custom layout to position its cells. Since the `sizeForItem` function is only defined for the `UICollectionViewDelegateFlowLayout` protocol, technically it doesn't exist from this library's perspective.
The reason why this is done this way is because it's

[2020-05-07 23:56] johnCbogil commented on #63
Ok that makes sense, I appreciate your speedy and thorough response.

If I understand you correctly, I should attempt to get my desired itemSize via the behavior's initializer? I only need 1 item size so I think this could work.

Thank you!

[2020-05-08 00:12] MaherKSantina commented on #63
As far as I remember you can't get the item size from the library, it calculates it internally and updates the cells to be of that size, so you don't have to worry about you setting it. But do you want the item size to drive something outside the collection view? I'm still a bit confused on why you need the item size 😕

[2020-05-08 00:15] MaherKSantina commented on #58
Hello @Badi3 and @magicspring ! So sorry for the late reply, I've now pushed a change to the library `3.1.1` that makes it easier to get the current index:
[code]

Have a great day!

[2020-05-08 00:17] johnCbogil commented on #63
Sorry for the confusion. I understand now that I can't use the itemSize delegate function with the library. That makes sense.

My goal is for my items to be square (equal height and width). I believe that I can configure this via the behavior's initialization parameters. Does that sound correct?

[2020-05-08 00:25] johnCbogil commented on #63
I have solved my issue by doing a bit of math to determine the necessary cellSpacing to create square items.

Thank you @MaherKSantin !

[2020-05-08 00:26] MaherKSantina commented on #63
Hahah I was just writing a comment about how to calculate it using spacing and peeking width 😆 I'm glad you were able to solve it on your own! Thank you so much for contributing and feel free to close this issue if your issue is resolved 👍

Have a wonderful day!

[2020-05-08 00:31] #63 closed

[2020-05-08 00:46] MaherKSantina commented on #61
Hello @ashokt , so sorry for the late reply I've been very busy these couple of months. I just released a new version of the library which helps you track the current index, you can find the details here https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation/releases/tag/3.1.1. I think this might fix your solution. Please let me know if it doesn't so we can look into other sol

[2020-05-08 05:14] ashokt commented on #61
@MaherKSantina thanks for your reply. I look in to that , will get back to you if still i am facing problem

[2020-05-15 09:34] ihsanullah2131 opened #64 "Use of undeclared type 'MSCollectionViewPeekingBehavior'"
After installing the pod pod 'MSPeekCollectionViewDelegateImplementation' and using it in a ViewController. I get this error on declaration of behaviour variable

var behavior: MSCollectionViewPeekingBehavior!

Error: Use of undeclared type 'MSCollectionViewPeekingBehavior'

[2020-05-15 09:50] ihsanullah2131 opened #65 "Use of undeclared type 'MSCollectionViewPeekingBehavior'"
After installing the pod pod 'MSPeekCollectionViewDelegateImplementation' and using it in a ViewController. I get this error on declaration of behaviour variable

var behavior: MSCollectionViewPeekingBehavior!

Error: Use of undeclared type 'MSCollectionViewPeekingBehavior'

[2020-05-15 12:04] MaherKSantina commented on #64
Hello @ihsanullah2131
Thank you for contributing to this repo by raising this issue! I need you to check a couple of things to see what the problem is
1. We need to make sure that you have the latest pod version because this class doesn't exist on previous versions of the pod. To do that you can check the `Podfile.lock` file and see which version of the pod is installed
2. We need to make sure tha

[2020-05-15 12:04] MaherKSantina commented on #65
@ihsanullah2131 I think you created this issue by mistake again, let's track it here https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation/issues/64 and close this one 👍

[2020-05-15 12:04] #65 closed

[2020-05-15 12:11] ihsanullah2131 commented on #64
Version is 2.0.0

Yes import is correct

[2020-05-15 17:02] MaherKSantina commented on #64
So version 2.0.0 of the pod is not the latest one, you need to update the pod version to 3.1.1 to for it to work

[2020-05-24 12:56] ahmedsafadii opened #66 "extra space !?"
behavior = MSCollectionViewPeekingBehavior(cellSpacing: 0)
        behavior = MSCollectionViewPeekingBehavior(cellPeekWidth: 0)
        behavior = MSCollectionViewPeekingBehavior(minimumItemsToScroll: 1)
        behavior = MSCollectionViewPeekingBehavior(maximumItemsToScroll: 1)
        behavior = MSCollectionViewPeekingBehavior(numberOfItemsToShow: 1)
        leagueCollectionView.configureForPeek

[2020-05-24 13:11] ahmedsafadii commented on #66
behavior = MSCollectionViewPeekingBehavior(cellPeekWidth: 0)
        behavior = MSCollectionViewPeekingBehavior(minimumItemsToScroll: 1)
        behavior = MSCollectionViewPeekingBehavior(maximumItemsToScroll: 1)
        behavior = MSCollectionViewPeekingBehavior(numberOfItemsToShow: 1)
        print("Dsada", behavior.cellSpacing)
        print("Dsada", behavior.cellPeekWidth)
        leagueCollec

[2020-05-25 04:59] MaherKSantina commented on #66
Hello @ahmedsafadii , thank you for reaching out and contributing to this repository by opening this issue!
I think the README is not very clear concerning this. If you want to pass multiple parameters to the behavior (`cellPeekWidth`, `minimumItemsToScroll`, `maximumItemsToScroll` and `numberOfItemsToShow`), then you need to use 1 initializer call, not 4 different ones. So you should do this:
[co

[2020-05-25 06:02] ahmedsafadii commented on #66
Yes it works 👍

On Mon, May 25, 2020 at 8:00 AM Maher Santina <notifications@github.com>
wrote:

[2020-05-25 06:36] MaherKSantina commented on #66
Awesome! Have a great day 👍

[2020-05-25 06:36] #66 closed

[2020-06-05 15:13] julianvogels commented on #60
Hi Maher, thanks for this library. I'm going to hijack this issue because I think I'm looking for the same thing.
Our designer does not like the empty space on the left of the first element, and would like the first cell it to be left aligned, showing more of the second element. In the App Store and in your implementation, the first cell is center aligned. Once the user scrolls to the second cell,

[2020-06-12 03:00] MaherKSantina commented on #60
Hello @julianvogels ! I'm so sorry for the late reply...
Thank you for the detailed explanation! Yeah I can't think of the best way to implement this from the top of my head but yeah you're right we would need to check the position of the item and calculate the item length, scroll position and spacing based on that. It seems like a common business requirement that's going on so it looks like a goo

[2020-06-12 15:09] palozinski commented on #60
Hey, @MaherKSantina here is an example from the AppStore. Please look at the first item it is always great aligned to left and you can see the next item. Then further items are really great center and you can see both left and right side items.
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/13101451/84517253-53a8ca80-accf-11ea-95f7-ea291ee3b50f.gif)

[2020-06-13 02:45] MaherKSantina commented on #60
Hello @palozinski ! Thanks for the recording! So here's my explanation
Although it seems like there is no space on the left, there actually is, here's a screenshot from the gif you just shared:

<img width="501" alt="Screen Shot 2020-06-13 at 12 36 27 PM" src="https://user-images.githubusercontent.com/24646608/84557981-b3a47d00-ad72-11ea-9a4d-cd6231132d18.png">

If you look closely you would see t

[2020-06-26 13:39] fareast555 opened #67 "MSPeekImplementationDelegate returns under/over index in race conditions"
MSPeekImplementationDelegate method:
[code]

Returns -1 if continuous fast swipe attempts made to go below the first cell...
or returns dataSource.count if trying to swipe beyond max cell.

This only happens when I really push it and swipe super fast.

Device: iPhone SE running 13.3.1
Xcode 11.3.1
Installed via cocoapods
[code]

<img width="1042" alt="Screen Shot 2563-06-26 at 20 33 21" src="https

[2020-06-27 00:47] MaherKSantina commented on #67
Hello @fareast555 ! Thank you so much for raising this issue and pasting all the evidence!
I would like you to try the latest version of the pod (3.1.1) which was completely re-written to use custom collection view layouts, which might solve this issue.
Unfortunately, I'm not supporting v2 anymore because it was painful in the end to try to customize it.
All details related to the setup of this po

[2020-06-28 07:38] fareast555 commented on #67
Hi. Thanks for the reply. One guy in our team had a pull request in updating to 3.1.1, thought it was already in, but it's still under review. Once it gets in I'll run some tests and update you.

Actually, there are two issues, both which will hopefully disappear. The first is as reported here. The second, which I assumed might be related to this one -- which seems like a race time issue -- is tha

[2020-06-28 07:38] #67 closed

[2020-06-28 08:50] fareast555 commented on #67
And...as a PS. I'm digging into the latest code. Is there no longer any callback for an active Index?

[2020-06-28 10:08] MaherKSantina commented on #67
@fareast555 thank you soo much for your kind words! 🙏 Yeah I agree working with collection views is sometimes hard!
[code]
There is one that gives you the current index when the user scrolls to a new cell, you just have to conform to `UICollectionViewDelegate` and implement `scrollViewDidEndDecelerating` function. The code to do that is also available in the demo project, I'll write it here:
[code

[2020-06-28 12:53] fareast555 commented on #67
I'll give it a try. Cheers!

[2020-07-23 16:39] Thonyvb opened #68 "Top and Bottom spacing of UICollectionViewCell cut"
First, thanks for your framework it has helped a lot!

I have an issue: My custom UICollectionViewCell has a shadow at the bottom, but MSPeekCollectionViewDelegateImplementation is cutting the shadow. Is there a way to add extra spacing to top and bottom between the UICollectionViewCell and collectionView height so the shadow appears?

Thanks!

[2020-07-23 23:05] MaherKSantina commented on #68
Hello @Thonyvb! Thank you so much and thank you for opening this issue!
Okay so for this we have 2 solutions without changing the library:
1. Disable `Clips to Bounds` on the `UICollectionViewCell` and the parent views of the one with the shadow
2. Make the shadow span on a subview of the `UICollectionViewCell` not the `UICollectionViewCell` itself, and add some margins around the subview dependin

[2020-07-23 23:10] MaherKSantina commented on #64
@ihsanullah2131 I'll close this. Feel free to open it if the issue is still there!

Have a great day! 🙏

[2020-07-23 23:10] #64 closed

[2020-07-27 16:05] Thonyvb commented on #68
Thanks a lot! It works as expected now!

[2020-07-27 16:05] #68 closed

[2020-07-29 04:12] mouchegmouradian opened #69 "Crash on behavior.scrollViewWillEndDragging call in v3.1.1"
After updating to v3.1.1 the app crashes when releasing finger after a swipe. It works without any change with the 2 previous versions.

- The crash happens on the `behavior.scrollViewWillEndDragging` call
- `behavior` is not nil

[code]

Didn't see anything in the changelogs that would explain this sudden crash.

Any ideas why this is happening ?

[2020-08-05 16:06] un0dvendig commented on #60
If anyone still needs a solution for showing first and last cells with custom paddings, I think I might have found a workaround.

Basically, all you need to do is to change contentInset property of the collection view, that is using MSCollectionViewPeekingBehavior.

Let's assume, that you have some constants **CellSpacing** and **VisibleCellWidth**, that are used for initializing MSCollectionViewP

[2021-02-09 08:27] ssamkough opened #70 "Collection view item is getting cut off"
Hi there!

I'm coming across an issue where my item gets cut off before showing it's full contents. I've attached a video of me using it.

https://user-images.githubusercontent.com/6272594/107335992-9ac9a400-6a86-11eb-9799-3dcf898d56be.MP4

[2021-02-09 23:00] MaherKSantina commented on #70
Thanks @ssamkough for contributing to this repo by raising this issue!
I was wondering are you using the latest version of the library?
If yes, can you try this for me:
Print out the frame width for the peeking collection view and see if it's the same as the device's frame. I can see that the scrolling doesn't work for the subsequent collection items as they are cut off and not shown in center pro

[2021-02-09 23:37] ssamkough commented on #70
I am using version 3.1.1.

I will print the values and tell you what I see. In the meantime, here is an example of my project:
[code]

[2021-02-10 01:11] ssamkough commented on #70
By the peeking collection view do you mean the collection view, or just the peeking part of it? Because the collection view is the same size as the device (using constraints), but each item has a custom width of 373. This is all configured within a storyboard.

[2021-03-01 23:38] MaherKSantina commented on #70
Hey @ssamkough really sorry I didn't receive a Github notification for your comments 😢 Okay so let's do a little debugging. Can you try to move the whole collection view outside the cell? Like have it directly in the view controller? I'm expecting that having the collection view inside a table view cell will cause the frames not to be calculated properly. If the collection view behaves properly th

[2021-03-05 16:32] alexookah commented on #70
Hello @MaherKSantina
I am also experiencing the same issue.
I have a collectionView inside `UITableViewHeaderFooterView`.
When using cellPeekWidth the scroll calculations are wrong. If set to 0 the scrolling is correct.
I tried to put the initialize the behaviour to `layoutSubviews()`
I even tried to set the collectionViewFrame same as the device's width before creating the behaviour
`collectionVi

[2021-03-08 10:52] alexookah commented on #70
@MaherKSantina
here you can find my example implementation:
https://github.com/alexookah/MSPeekCollectionView-Example

[2021-03-15 10:57] alexookah commented on #70
I resolved the issue @ssamkough @MaherKSantina.

If the collectionView is inside a tableview it needs:
`collectionView.isPagingEnabled = false`

Something similar exists in `UICollectionView+PeekConfiguration.swift`:
`collectionView.configureForPeekingDelegate()`

[2021-03-22 13:45] alexookah commented on #70
@MaherKSantina
this issue can be closed

[2021-03-22 22:57] #70 closed

[2021-04-05 20:18] shokaveli opened #73 "SPM Fail"
Trying to integrate using SPM but getting Package Resolution Failed.  Im using the URL :

https://github.com/MaherKSantina/MSPeekCollectionViewDelegateImplementation

![image](https://user-images.githubusercontent.com/1034170/113622147-2d6b6700-9622-11eb-965e-90dc6da56c87.png)

[2021-04-07 07:49] MaherKSantina commented on #73
Thanks @shokaveli for contributing to this repo by raising this issue! I tried to reproduce the issue by creating a new project and adding the swift package but it seems to work for me, here's a screenshot
<img width="853" alt="Screen Shot 2021-04-07 at 5 47 50 pm" src="https://user-images.githubusercontent.com/24646608/113829996-7f022600-97c9-11eb-9771-aa009d0b67c0.png">
Are you by any chance usi

[2021-08-03 14:15] Serg-Pogrebnyak opened #74 "Backward scroll"
Please fix backward scroll... because if I want make backward scroll for example on 2-3 cell I can do this only on one cell, I made small research and found problem
in MSCollectionViewPaging.swift
in func getNewTargetOffset(startingOffset: CGFloat, velocity: CGFloat, targetOffset: CGFloat) -> CGFloat
if I change
var offset = max(targetIndex - currentIndex, 1)
on
var offset = max(abs(targetIndex -

[2021-10-01 17:14] PeHk opened #75 "Scroll bars not visible"
If I create the default behavior for peeking the cells from the horizontal `UICollectionView`, my scrolling indicators are only visible directly on cells and I am unable to use edge offset to move it down because then they moved out of the collection view and they are not visible at all.. Can you please make some suggestions how to fix this? Since cell is automatically set to fill up the entire co

[2022-01-10 15:33] Sevenfortyseven opened #76 "can't change cell size and positioning"
first of all i want to thank an author and contributors of this amazing library.it's really amazing. regarding to my problem, i'm using two different collectionView-s in a single controller. for the second collectionView i'm trying to use default layout methods like sizeforitemat(), to change cell's size.but it doesn't work.is this some kind of bug or am i doing something wrong?
sorry if the quest

[2022-01-10 17:52] #76 closed, assigned to nobody